@model BookManager.Models.Book

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buy</h2>

<br/>
<p> Thank you for purchassed <strong>@Model.Title</strong> with <strong>@Model.Prices</strong>VNĐ</p>